<div class="row">
<div class="col-lg-12">
 <div class="list-group-item" ng-repeat="message in messages track by message.messageId" ng-class-odd="'odd-light-brown'">
 <div class="row">
 <div class="col-lg-2">
<div class="checkbox"> 
   <label>
     <input type="checkbox"  checklist-model="messagesToDelete" checklist-value="message" checklist-comparator="compareFn"><div ng-if="typeOfMessages=='inbox'"><strong>{{message.sender.username}}</strong></div>
     <div ng-if="typeOfMessages=='sent'"><strong>To: {{message.receiver.username}}</strong></div>
   </label>
   </div>
   </div>
   <a href ng-click="messageDetailsModal(message.messageId)" class="col-lg-7">
   <br>
   {{ message.text | limitTo: 20 }}{{message.text.length > 20? '...' : ''}}
      </a>	
       <div class="col-lg-3">
   <br>
   {{ message.sendDate | date:'yyyy-MM-dd HH:mm:ss' }}
      </div>	 
  </div> 
</div>
</div>
 <div class="list-group-separator"></div>
</div>
<div class="row">
<div class="col-lg-10">
</div>
<div class="col-lg-2">
<br>
<button type="button" class="btn btn-danger" ng-click="deleteMessages()">
 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
</div>
</div>