
<ul  class="list-group">
  <a ui-sref="main.messagesMenu.messages({typeOfMessages:'inbox'})" style="background-color:#6666C2" class="list-group-item">
   <span style="color:#FFFFFF">Inbox</span>
  </a>
    <a ui-sref="main.messagesMenu.messages({typeOfMessages:'sent'})" style="background-color:#6666C2" class="list-group-item">
    <span style="color:#FFFFFF">Sent</span>
  </a>
  <a href ng-click="newMessageModal()" style="background-color:#6666C2" class="list-group-item">
    <span style="color:#FFFFFF">New message
     <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true" ></span></span>
  </a>
</ul>
</div>