<div class="modal-header">
	<h4 style="color:#0000CC" class="modal-title"><strong>Message</strong></h4>
</div>
<div class="modal-body" style="background-color:#FFFFEB">
  <div class="list-group-item">
  <h4 class="list-group-heading">
  <strong>From: {{message.sender.username}}</strong>
  </h4>
  <div class="list-group-seperator"></div>
  <p class="list-group-text">{{message.text}}</p>
</div>
</div>