
<div class="modal-header">
	<h4 style="color:#0000CC" class="modal-title"><strong>New message</strong></h4>
</div>
<form name="newMessageForm" novalidate class="center-block"
		ng-submit="newMessageForm.$valid&&sendMessage()">
<div class="modal-body" style="background-color:#FFFFEB">
	
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group has-feedback">
					<label class="control-label" for="username" style="width:100%">Receiver <input 
						type="text" name="receiver" class="form-control"
						ng-model="receiver" id="receiver" required></label>
				</div>

			</div>
				</div>
			<div class="row">
			<div class="col-lg-12">
				<div class="form-group has-feedback">

					<textarea style="width:100%;height:100%" placeholder="Text..." ng-model="newMessage.text">
</textarea>
				</div>
			</div>
		</div>
</div>
<div style="color:#0000CC" class="modal-footer">
	<button ng-disabled="!newMessageForm.$valid" class="btn btn-success" type="submit">
	<span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true" ></span> Send</button>
</form>
</div>