<div class="row">
	<div class="col-lg-4">
		<div style="height: 305px">
			<carousel interval="myInterval" no-wrap="noWrapSlides"> <slide
				ng-repeat="photo in auction.photos" active="slide.active"> <img
				ng-src="http://localhost:8080/auctions/items/{{auction.itemId}}/photos/{{photo.photoId}}"
				style="margin: auto;">
			<div class="carousel-caption">
				<h4>Photo {{$index}}</h4>
			</div>
			</slide> </carousel>
		</div>
	</div>
	<div class="col-lg-8">
		<h3>{{auction.name}}</h3>
		<div class="row">
			<div class="col-lg-6">
				<h5>
					<strong>Description: </strong> {{auction.description}}
				</h5>
				<p>
					<strong>Buy price: </strong> {{auction.buyPrice}} Euros
				</p>
				<div ng-show=activeAuction>
					<strong>Time left: </strong>
					<timer max-time-unit="'day'" ng-attr-end-time="auction.ends">
					<span style="color: red">{{days}}d,{{hours}}h, {{minutes}}m,
						{{seconds}}s </span></timer>
					( {{auction.ends | date:'yyyy-MM-dd HH:mm:ss'}} )
				</div>
				<div ng-show=auctionEnded>
					<p>
						<strong>Auction ended:</strong> {{auction.ends | date:'yyyy-MM-dd
						HH:mm:ss'}}
					</p>
				</div>
				<br>
				<p>
					<span ng-show=!activeAuction><strong>Winning Bid:</strong></span> <span
						ng-show=auctionEnded><strong>Current Bid:</strong></span>
					{{auction.currently}} Euros
				</p>
				<p>
					<strong>Seller name: </strong> {{auction.seller.firstname}}
					{{auction.seller.lastname}}
				</p>
				<p>
					<strong>Seller rating: </strong> {{auction.seller.sellerRating}}
				</p>
			</div>
			<div class="col-lg-6">
				
				<accordion> <accordion-group panel-class="panel-danger"
					is-open="status.open"> <accordion-heading>
				<strong> Bids</strong> <i class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</accordion-heading>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="bid in item.bids">
						<h5 class="list-group-item-heading">Amount: {{bid.amount}}</h5>
						<p>Bidder: {{bid.bidder.username}}</p>
						<p>Date: {{bid.time | date:'yyyy-MM-dd HH:mm:ss'}}</p>
					</li>
				</ul>
				</accordion-group> </accordion>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			
			 <ui-gmap-window show="windowOptions.show" coords="marker.coords" isIconVisibleOnClick="false" closeclick="closeClick()" ng-cloak>
                <div>{{auction.location.country}}, {{auction.location.locationName}}</div>
            </ui-gmap-window>
			<ui-gmap-marker events="marker.markersEvents" coords="marker.coords" idKey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
				<br>
					<br>
		</div>
	
	</div>