
 <div class="form-group">
          <label>Min price:</label>
          <input type="number" ng-model="$parent.minPrice" step="0.01" class="form-control">
 </div>
  <div class="form-group">
  <label>Max price:</label>
          <input type="number" ng-model="$parent.maxPrice"step="0.01"  class="form-control">
            </div>

 <div class="form-group">
          <label>Location name:</label>
          <input type="text" ng-model="$parent.locationName" class="form-control">
 </div>
 