
<div class="modal-header" style="background-color:green;color:#FFFFFF">
	<h4 class="modal-title">Registration success</h4>
</div>
<div class="modal-body">
Thank you for participating in Hermes auctions!
<br>
Administrator will confirm your registration soon!
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button"
		ng-click="okRegistrationModal()">OK</button>

</div>