<div class="form-error" ng-message="required">This field is required...</div>
<div class="form-error" ng-message="minlength">Your field is too short</div>
<div class="form-error" ng-message="maxlength">Your field is too long</div>
<div class="form-error" ng-message="email">Your field has an invalid email address</div>
<div class="form-error" ng-message="number">Your field should be a number</div>
<div class="form-error" ng-message="min">Your number should be smaller</div>
<div class="form-error" ng-message="max">Your number should be larger</div>