
<div class="modal-header">
	<h4 class="modal-title">Not authorized</h4>
</div>
<div class="modal-body">
You are not allowed to access this resource!

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button"
		ng-click="okNotAuthorizedModal()">OK</button>

</div>