
<div class="modal-header">
	<h4 class="modal-title">Not authenticated</h4>
</div>
<div class="modal-body">
Session lost! Click ok to navigate to login page.

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button"
		ng-click="okNotAuthenticatedModal()">OK</button>

</div>